DJANGO_SECRET_KEY=replace-with-a-local-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=nsync
DB_USER=nsync_user
DB_PASSWORD=replace-with-a-local-database-password
DB_HOST=127.0.0.1
DB_PORT=5435
